/* 제목과 추가 버튼을 넣을 공간 */
header {
    width: 100%;
    height: 70px;
    position: relative;
}

/* 제목 */
h1 {
    position: absolute;
    right: 46%;
}

/* 추가 버튼 */
#add {
    position: absolute;
    top: 15px;
    right: 40%;
    height: 35px;
}

/* 할 일들이 보이는 공간 */
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* 할 일들이 보이는 공간 2 */
#textContainer {
    display: flex;
    width: 550px;
    flex-wrap: wrap;
    margin: 0 auto;
}

/* 각각의 할 일에 필요한 요소들의 묶음 */
#textContainer div {
    margin: 5px 0px;
}

/* 할 일 입력칸 */
.todo {
    margin: 5px 10px;
    width: 450px;
    height: 30px;
    font-size: 15px;
}

/* 할 일 수행 여부 체크박스 */
.check {
    width: 25px;
    height: 25px;
    position: relative;
    top: 7px;
}

/* 할 일 삭제 버튼 */
.delete {
    width: 30px;
    height: 30px;
}

/* 해당 할 일을 수행할 날짜 */
.day {
    margin-left: 45px;
}

/* 해당 할 일을 수행할 시간 */
.time {
    margin-left: 10px;
}